<% var date = params.comic.date;

	var monthNames = [
	  "January", "February", "March",
	  "April", "May", "June", "July",
	  "August", "September", "October",
	  "November", "December"
	];

	var formattedDate = monthNames[date.getMonth()] + ' ' + date.getDate() + ', ' + date.getFullYear();
%>

<div id='comic-page'>

	<img class='single-comic' src='<%= params.comic.url %>'/>

	<div class='comic-navbar clearfix'>
		<div class='col-xs-3'>
			<a class='nav-link' 
				<%= params.first ? 'href=/comics/' + params.first : 'disabled' %>
			>First</a>
		</div>
		<div class='col-xs-3'>
			<a class='nav-link' 
			<%= params.prev ? 'href=/comics/' + params.prev : 'disabled' %>
			>Previous</a>
		</div>
		<div class='col-xs-3'>
			<a class='nav-link' 
				<%= params.next ? 'href=/comics/' + params.next : 'disabled' %>
			>Next</a>
		</div>
		<div class='col-xs-3'>		
			<a class='nav-link' 
				<%= params.last ? 'href=/comics/' + params.last : 'disabled' %>
			>Last</a>
		</div>
	</div>

	<div class='comic-comment-section'>
		<div class='title'><%= params.comic.title %></div>
		<div class='date'><%= formattedDate %></div>
		<div class='comic-comment'><%= params.comic.comment %></div>

	<div id="disqus_thread"></div>

	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES * * */
	    var disqus_shortname = 'pilotcomics';
	    var disqus_identifier = '<%= params.comic.slug %>';
	    
	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

	</div>
</div>

<script>

</script>